/* Global Style */

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
background-color: #878683;
font-family: Arial, Helvetica, sans-serif;
max-width: 1024px;
}

/* Header Styling */
.header{
    background-color: #444444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.high-score-text, .timer-text, .timer-count{
    font-size: 22px;
    color: white;
}

.high-score-text{
    text-decoration: none;
    padding-left: 10px;
}
.timer-count{
    padding-right: 10px;
}

/*Main Content Styling*/

.page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.question-header-text{
    font-size: 32px;
    margin-left: 5%;
    margin-right: 5%;
}

.question-container{
    width: 50%;
}
.question-text{
    font-size: 20px;
    margin: 10px;

}

.btn{
    border: 0;
    margin: 10px 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: rgba(255, 0, 0, 1);
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.question-answers-container{
    width: 100%;
    display: flex;
}
.mc-button-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;

    margin-top: 10px;
    margin-left: 100px;
}

