/* Global Style */

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
background-color: #878683;
font-family: Arial, Helvetica, sans-serif;
max-width: 1024px;
}

/* Header Styling */
.header{
    background-color: #444444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.high-score-button, .timer-text, .timer-count{
    font-size: 22px;
    color: white;
}

.high-score-button{
    text-decoration: none;
    background-color: #444444;
    padding-left: 10px;
}
.timer-count{
    padding-right: 10px;
}

/*Main Content Styling*/

.page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.question-header-text{
    font-size: 32px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.question-container{
    width: 50%;
}
.question-text{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.btn{
    border: 0;
    margin: 10px 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: rgba(255, 0, 0, 1);
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.question-answers-container{
    width: 100%;
    display: flex;
}
.mc-button-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;

    margin-top: 10px;
    margin-left: 100px;
}

.form-button-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.high-score-name{
    display: flex;
    flex-direction: column;
}

.high-score-name-text, .submit-btn{
    margin: 10px;
}




@media screen and (max-width: 768px){
.mc-button-container{
    margin-left: 40px;
}

.question-text{
    font-size: 18px;
}

}

@media screen and (max-width: 595px) {
.question-header-text {
    font-size: 28px;
    margin-left: 5%;
    margin-right: 5%;
}

.question-text{
    font-size: 12px;
}

.mc-button-container {
    width: 30%;
}
    
}

@media screen and (max-width: 425px) {
.high-score-button, .timer-text, .timer-count {
    font-size: 18px;
}

.question-header-text {
    font-size: 24px;
}

.question-answers-container {
    flex-direction: column;
    align-items: center;
}

.mc-button-container {
    margin-left: 0px;
    width: 40%;
}

}

@media screen and (max-width:320px) {
    .question-header-text {
        font-size: 20px;
    }
    
}



